.contentContainer {
    display: flex;
}

#titleImage {
    width: 30rem;
}
.titleContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10rem 20rem;
}
h2 {
    font-weight: 500;
}