.container {
}

.contactContainer {
    background: #213547;
    padding: 0 1rem;
    color: #c8c8c8;
    display: flex;
    justify-content: center;
    p {
        padding: 0 2rem;
        font-size: 0.9em;
    }
}

.title {
    font-size: 2.4rem;
}